@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div {
  background-color: #cdc733;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_div {
  background-color: #fff;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 25px -7px rgba(0, 0, 0, 0.5);
}

h1 {
  font-weight: 100;
  text-align: center;
  font-size: 3.5em;
  margin-top: 1.25em;
  margin-bottom: 1em;
  color: #000;
  font-family: 'Lato', sans-serif;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #4d4870;
  color: #fff;
  font-family: 'Lato', sans-serif;
  border: none;
  padding: 8px 14px; 
  border-radius: 5px;
  font-size: 20px;
  margin: 3em 0;
  box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #5eaaa8;
}


.btn_red:hover {
  color: #ff4757;
}

.btn_green:hover {
  color: #2ed573;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button:focus {
  outline: none;
}